/*
style for the frame of #command_output
*/
#console_frame{
    border: 1px solid black;
    margin-bottom: 1rem;
}
/*
style for the command output "console"
*/
#command_output{
    height: 20rem;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 0;
    overflow: scroll;
}

/*
class to apply for not filled in form elements
*/
.error{
    border-color: red;
}