<!-- views/pages/help.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
        <script src="/scripts/functions.js"></script>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header") %>
        </header>
        <main>
            
        </main>
    </body>
</html>